.dashboard_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1a1818;
    height: 50px;
    width: 100%;
}

.dashboard_top_left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.dashboard_top_left img {
    width: 40px; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
}

.dashboard_top_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px; 
    margin-right: 20px;
    font-size: 20px;
}

.dashboard_top_right img {
    width: 35px;
}

.body {
    display: flex;
    border: 1px solid red;
    height: 100vh;
}

.dashboard_body_left {
    
    width: 180px;
    border-right: 1px solid black;
}

.dashboard_body_left div {
    font-weight: 600;
    font-size: 17px;
    padding:12px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard_body_left div:hover {
    background-color: #f0f0f0;
}



.main_body_div {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    

}

.individual {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_img {
    width: 60px;
}

.individual h3 {
    margin-right: 10px; /* Add some space between label and value */
}

.individual div {
    font-size: 15px; /* Add some space between label and value */
}

.update_button {
    background-color: #8a8d86; /* Green */
    border: none;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; /* Adjust margin as needed */
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2c2f2c; /* Darker green */
}