.dashboard_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: #848181;
  border-bottom: 2px solid #00BFFF;
  height: 50px;
  width: 100%;
  position: static;
}

.dashboard_top_left {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.dashboard_top_left img {
  width: 40px; /* Adjust as needed */
  height: auto;
  margin-right: 10px;
}

.dashboard_top_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  margin-right: 20px;
  font-size: 20px;
}

.dashboard_top_right img {
  width: 35px;
}
.body {
  display: flex;
  height: 530px;
}
.dashboard_body_left {
  width: 20%;
  border-right: 2px solid #00BFFF;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dashboard_body_left a {
  font-weight: 600;
  font-size: 17px;
  padding: 12px 15px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

.dashboard_body_left a:hover {
  background-color: #f0f0f0;
}

.img {
  width: 50%;
  height: 300px;
  background-color: red;
  float: left;
}

.second_main_body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}


.main_body_div {
  width: 100%;
}

/* Login page styling */

.container {
  display: flex;
  background-color: lightgreen;
  height: 100vh;
  /* overflow: hidden; */
}

.left-container {
  /* background-color: blue; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-container {
  background-color: #f2f2f2;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 120px;
  height: 120px;
}

.cayz-name {
  font-size: 50px;
}

.slogan {
  font-size: 10px;
}

.right-container form {
  border: 1px solid black;
  width: 60%;
}
.right-container input[type="text"],
.right-container input[type="password"] {
  width: 100%;
  border: 1px solid grey;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
}
a {
  float: right;
  font-size: 10px;
  margin-top: -18px;
  color: black;
  text-decoration: none;
}

/* css styling for visitor's log */
.visitors-log-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.visitors-subheader {
  text-align: center; 
  font-size: 20px;
}

.search-container {
  margin-left: 20px;
  border: 1px solid #ccc;
  display: flex;
  padding: 5px 15px;
  border-radius: 25px;
  width: 648px; 
  
}

.search-icon-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  margin-left: 5px;
  outline: none;
}

.visitors {
  width: 95%;
  border-collapse: collapse;
  margin: 20px 20px 0px;
  text-transform: capitalize;
}

.visitors td, .visitors th {
  border: 1px solid #ddd;
  padding: 10px;
}

.visitors th {
  padding: 12px 0px 12px;
  background-color: #d9d9d9;
}

.visitors td {
  text-align: center;
}

.visitors td a{
  width: 100%;
  padding-top: 16px;
  font-size: 16px;
}

.visitors tr:nth-child(even){
  background-color: #f2f2f2;
}

.visitors .userName:hover{
  background-color: #848181;
}

.individual {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_img {
  width: 60px;
  margin-top: 60px;
}

.individual h3 {
  margin-right: 10px; /* Add some space between label and value */
}

.individual div {
  font-size: 15px; /* Add some space between label and value */
}

.update_button {
  background-color: #8a8d86; /* Green */
  border: none;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px; 
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2c2f2c; 
}


.search_bar {
  display: flex;
  align-items: center;
  padding: 7px;
  background-color: #e0e0e0;
  width: 500px;
  border-radius: 5px;
  margin-bottom: 30px; 
  margin-top: 30px;
}

.search_bar img {
  width: 20px; 
  margin-right: 10px; 
}


.box_div {
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 5px; 
  margin-bottom: 20px; 
  width: 150vh;
  margin-top: 15px;
}

.upper_box {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.upper_box div {
  flex: 1;
}

.upper_box img {
  width: 20px;
}

.line {
  height: 1px;
  background-color: black;
}

.lower_box {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.lower_box div {
  margin-bottom: 5px; 
  flex: 1;
}

.residents_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
  padding: 5px;
}

.resident {
  background-color: #e0e0e0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.resident h3 {
  margin-bottom: 10px;
}

.resident div {
  margin-bottom: 5px;
}