extends index
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", type="text/css", href="/CSS/style.css")
  body
    .dashboard_top
      .dashboard_top_left
        img(src="CAYZ LOGO 2.png")
        h3.name CAYZ
      .dashboard_top_right
        h5 Account
        img(src="Customer.png")
    .dashboard_body_left
      div Generate Code
      div Access Logs
      div Notifications
      div Profile
      div Help
      div Settings
      div Log Out
