extends resident-layout
block title
      title Code Generator 
block content 
    div.code-gen-container
        div.heading Generate Code
        form.form-container
            //- message display starts here
            if errorMessage
                p(style='border:1px solid red; background-color:#f8d7da; text-align:center; color: red; width: 80%; padding: 6px; border-radius: 5px; font-weight:bold') #{errorMessage}
            else if successMessage
                p(style='border:1px solid green; background-color:#d4edda; text-align:center; color: green; width: inherit; padding: 6px; border-radius: 5px; font-weight:bold') #{successMessage}
            //- message display ends here

            input(type='text' name='name' placeholder="Visitor's name:" class="input-field")
            input(type='text' name='purpose' placeholder="Purpose of visit:" class="input-field")
            input(type='text' name='location' placeholder="Location:" class="input-field")
            input(type='text' name='timeExpired' placeholder="Time Expired:" class="input-field")
            input.btn(type='submit' name='generateCode' value='Generate Code')
