//- THIS IS FOR RESIDENT ACCESS LOGS

extends resident-layout

block title
      title Access Logs

block content 
    .second_main_body
        .search_bar
        img(src="/images/search-icon 1.png")

        for i in data  
            form(method="POST", action='/delete-log').box_div
                .upper_box
                    div #{i.visitors}
                    input(type="hidden" name='codeId' value=i.codeId)

                    button(type='submit')
                        img(src="delete.png" ) 
                .line
                .lower_box
                    div 25/03/2024
                    div Valid from 10:00 - 12:00
                    div #{i.status}