//- THIS IS FOR RESIDENT ACCESS LOGS

extends resident-layout
block content 
    .second_main_body
        .search_bar
        img(src="/images/search-icon 1.png")

        for i in data  
            .box_div
                .upper_box
                    div #{i.visitors}
                    div Plumbing
                    img(src="/images/delete.png")
                .line
                .lower_box
                    div 25/03/2024
                    div Valid from 10:00 - 12:00
                    div #{i.status}
