extends resident-layout
block content 
    div.code-gen-container
        div.heading Generate Code
        form.form-container
            input(type='text' name='name' placeholder="Visitor's name:" class="input-field")
            input(type='text' name='purpose' placeholder="Purpose of visit:" class="input-field")
            input(type='text' name='location' placeholder="Location:" class="input-field")
            input(type='text' name='timeExpired' placeholder="Time Expired:" class="input-field")
            input.btn(type='submit' name='generateCode' value='Generate Code' class="submit_btn")
