
doctype html
html(lang="en")
  head
   
    title CAYZ
    style
      include ../../../assets/stylesheets/style.css
  body
    .dashboard_top
      .dashboard_top_left
        img(src="../../assets/images/CAYZ LOGO 2.png")
        h3.name CAYZ
      .dashboard_top_right
        h5 Account
        img(src="Customer.png")
    .body
      .dashboard_body_left
        div Generate Code
        div Access Logs
        div Notifications
        div Profile
        div Help
        div Settings
        div Log Out

      .main_body_div
        block content

//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     title Document
//-   body
//-     .dashboard_top(style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #1a1818; height: 50px; width: 100%;")
//-       .dashboard_top_left(style="display: flex; align-items: center; margin-left: 10px;")
//-         img(src="CAYZ LOGO 2.png", style="width: 40px; height: auto; margin-right: 10px;")
//-         h3.name CAYZ
//-       .dashboard_top_right(style="display: flex; justify-content: space-between; align-items: center; width: 110px; margin-right: 20px; font-size: 20px;")
//-         h5(style="font-size: 20px;") Account
//-         img(src="Customer.png", style="width: 35px;")
//-     .body(style="display: flex; height:530px")
//-       div.dashboard_body_left(style="width: 180px; border-right: 1px solid black;")
//-         div(style="font-weight: 600; font-size: 17px; padding: 12px 30px; cursor: pointer; transition: background-color 0.3s ease;") Generate Code
//-         div(style="font-weight: 600; font-size: 17px; padding: 12px 30px; cursor: pointer; transition: background-color 0.3s ease;") Access Logs
//-         div(style="font-weight: 600; font-size: 17px; padding: 12px 30px; cursor: pointer; transition: background-color 0.3s ease;") Notifications
//-         div(style="font-weight: 600; font-size: 17px; padding: 12px 30px; cursor: pointer; transition: background-color 0.3s ease;") Profile
//-         div(style="font-weight: 600; font-size: 17px; padding: 12px 30px; cursor: pointer; transition: background-color 0.3s ease;") Help
//-         div(style="font-weight: 600; font-size: 17px; padding: 12px 30px; cursor: pointer; transition: background-color 0.3s ease;") Settings
//-         div(style="font-weight: 600; font-size: 17px; padding: 12px 30px; cursor: pointer; transition: background-color 0.3s ease;") Log Out
//-       div.main_body_div(style="width: 100%;")

//-         block content
