
doctype html
html(lang="en")
  head
   
    title CAYZ
    link(rel="stylesheet", type='text/css', href="/stylesheets/style.css")
   
  body
    .dashboard_top
      .dashboard_top_left
<<<<<<< HEAD
        img(src="/images/logo.png")
=======
        img(src="/images/CAYZ LOGO 2.png")
>>>>>>> c432eadc6984042549923e32b2e72061562181f6
        h3.name CAYZ
      .dashboard_top_right
        h5 Account
        img(src="/images/Customer.png")
    .body
      .dashboard_body_left
        div Generate Code
        div Access Logs
        div Notifications
        div Profile
        div Help
        div Settings
        div Log Out

      .main_body_div
        block content
