
doctype html
html(lang="en")
  head
   
    title CAYZ
    link(rel="stylesheet", type='text/css', href="/stylesheets/style.css")
    link(rel="stylesheet", type='text/css', href="/stylesheets/codegenerator.css")
   
  body
    .dashboard_top
      .dashboard_top_left
        img(src="/images/logo.png")
        h3.name CAYZ
      .dashboard_top_right
        h5 Account
        img(src="/images/Customer.png")
    .body
      .dashboard_body_left
        a(href="/resident/generate-code") Generate Code
        a(href="#") Access Logs
        a(href="#") Notifications
        a(href="#") Profile
        a(href="#") Help
        a(href="#") Settings
        a(href="/logout") Log Out

      .main_body_div
        block content
