//- THIS IS FOR RESIDENT NOTIFICATIONS

extends resident-layout

block title
      title Notifications

block content 
    .second_main_body(style="text-align: left;")  
        .notify
            .notify_upper_box
                div Security alert!
            .line
            .notify_lower_box
                div There is a reported incident nearby. Residents should quickly lock all doors
