//- THIS IS FOR RESIDENT NOTIFICATIONS

extends resident-layout

block title
      title Notifications

block content 
    .second_main_body(style="text-align: left;")  
        for alert in data
            .notify
                .notify_upper_box
                    div Security alert!
                    div #{alert.date.toDateString()} || #{alert.date.toLocaleTimeString()}
                .line
                .notify_lower_box
                    div #{alert.message}
