//- THIS IS FOR SECURITY PROFILE 

extends resident-layout
block content 
    .second_main_body
        .img_name
            img.profile_img(src="Customer.png")
            h3 Code Green
        div
            .individual
                h3 Name:
                div Code Green
            .individual
                h3 Email address:
                div Codegreen@gmail.com
            .individual
                h3 Date of Birth:
                div 10th August 1900
            .individual
                h3 Password:
                div ********
            .individual
                h3 House Address:
                div House 234 Gregory avenue
            .individual
                h3 Mobile number:
                div 7344572834
            button.update_button UPDATE PROFILE

        