
doctype html
html(lang="en")
  head
   
    title CAYZ
    style
      include ../../../assets/stylesheets/style.css
  body
    .dashboard_top
      .dashboard_top_left
        img(src="/assets/images/CAYZ LOGO 2.png")
        h3.name CAYZ
      .dashboard_top_right
        h5 Account
        img(src="/assets/images/Customer.png")
    .body
      .dashboard_body_left
        div Generate Code
        div Access Logs
        div Notifications
        div Profile
        div Help
        div Settings
        div Log Out

      .main_body_div
        block content
