
extends security-layout
block content 
    div.verifyCode-container
        div.heading Alert
        form.formfield
            input(type='text' name='name' placeholder="Enter Alert Message" class="inputField")

            input.submitbtn(type='submit' name='generateCode' value='Send message')
