//- THIS IS FOR SECURITY PROFILE 

extends security-layout

block title 
    title Profile
    
block content 
    .second_main_body
        .img_name
            img.profile_img(src="/images/Customer.png")
            h3 #{data.User_Name}
        div
            .individual
                h3 Name:
                div #{data.User_Name}
            .individual
                h3 Email address:
                div Codegreen@gmail.com
            .individual
                h3 Date of Birth:
                div 10th August 1900
            .individual
                h3 Password:
                div ********
            .individual
                h3 House Address:
                div #{data.Address}
            .individual
                h3 Mobile number:
                div #{data.Phone_Number}
            button.all_btn UPDATE PROFILE
