
extends security-layout

//- this is the title of this page (template view)
block title 
    title Register Resident
    
    
block content 
    div.code-gen-container
        div.heading Registration
        form(action='/add-resident', method='POST').form-container 
            input(type='text' name='name' placeholder="Resident name:" class="input-field")
            input(type='text' name='location' placeholder="Resident Address:" class="input-field")
            input(type='email' name='email' placeholder="Email Address:" class="input-field")
            input(type='text' name='mobile' placeholder="Mobile Number:" class="input-field")
            input(type='date' name='dob' placeholder="Date of Birth" class="input-field")
            input(type='password' name='password' placeholder="Password:" class="input-field")
            input.all_btn(type='submit' name='generateCode' value='Submit')