//- THIS IS FOR RESIDENT ACCESS LOGS

extends security-layout
block content 

    .second_main_body
        h2 RESIDENTS
        .search_bar
            img(src="/images/search-icon 1.png")
        .residents_list
            for i in data
                .resident
                    h3 #{i.User_Name}
                    div #{i.Address}
                    div #{i.Phone_Number}
