//- THIS IS FOR RESIDENT ACCESS LOGS

extends security-layout
//- this is the title of this page (template view)
block title 
    title Resident List 
    
block content 
    .visitors-log-cont
        h3.visitors-subheader RESIDENTS
        .search-container
            .search-icon-cont
                img(src="/images/search-icon 1.png")
            input(type="text")
    table.visitors
        tr
            th resident's name
            th Email
            th Phone_Number
            th Registration Date
            

        for i in data
            tr
                td.userName
                    a(href='/profile/' + i.User_ID) #{i.User_Name}
                td #{i.Email_Address}
                td #{i.Phone_Number}
                td 27/06/2000
                               


    
