
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", type='text/css', href="/stylesheets/style.css")
    link(rel="stylesheet", type='text/css', href="/stylesheets/codegenerator.css")
    script(src="/modules/script.js")
  body
    .dashboard_top
      .dashboard_top_left
        img(src="/images/logo.png")
        h3.name CAYZ
      .dashboard_top_right
        h5 Account
        img(src="/images/Customer.png")
    .body
      .dashboard_body_left
        a(href="/security/register-resident") Register Resident
        a(href="/security/verify-code") Verify code
        a(href="/security/visitors-log") Visitors log
        a(href="/security/alert") Alert
        a(href="/security/resident-list") Residents List
        a(href="#") Profile
        a(href="#") Settings
        a(href="/logout") Log Out

      .main_body_div
        block content

