
extends security-layout
block content 
    div.verifyCode-container
        div.heading Verify Code
        form.formfield
            input(type='text' name='name' placeholder="Enter Code Here" class="inputField")

            input.submitbtn(type='submit' name='generateCode' value='Confirm Access')
