extends security-layout
block content 
    .visitors-log-cont
        h3.visitors-subheader Visitors Log
        .search-container
            .search-icon-cont
                img(src="/images/search-icon 1.png")
            input(type="text")
    table.visitors
        tr
            th resident's name
            th code value
            th visitor's name
            th Date
            th purpose of visit
            th Code status
            th entry time
            th exit time

        for i in data
            tr
                td #{i.name}
                td #{i.code}
                td #{i.visitors}
                td 25/03/2024
                td Plumbing
                td #{i.status}
                td 12:00
                td 17:00

    - console.log(data)