//- extends index 

html
  head
    //- meta(charset="UTF-8")
    //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Landing
    //- link(rel='stylesheet', href='../CSS/landing.css')
    style
      include ../../static/stylesheets/landing.css

      
  body
    #home.landing_body
      .top
        .top_left
          img(src='/images/logo.png')
          h3.name CAYZ
        .top_right
          a(href='#home') 
            h5 Home
          a(href='#about') 
            h5 About us
          a(href='#features') 
            h5 Features
          a(href='#faqtop') 
            h5 FAQs
          a(href='#interestForm') 
            h5 Join us
          a(href='/login.pug')
            h5(style='margin-top: 20px;')
              button(style='border-radius: 20px; background-color: #0a6684; width: 80px; padding: 10px; color: white; font-weight: bold; border: none;') Log in

    .landing_image_overlay
      .first_landing
        .landing_content
          h1 Make granting access to guests easier
          h2 Enjoy peace of mind knowing all is secure.

    #about.about-container
      .about-text
        .about_header
          h1 Count on us to safeguard and secure your community
        .about_body
          .about_bodytxt
            p CAYZ is a leading digital solution dedicated to revolutionizing security and access control within residential communities.
            p CAYZ allows residents to generate unique security codes for their visitors upon entry and exit. The primary goal is to ensure a secure and efficient access process while providing residents with the ability to manage visitor access conveniently.
            p(style='font-weight: bold;') Welcome to a safer, smarter way of living with CAYZ.
          .about-image
            img(src='/images/padlock.png', alt='About Image')

    #features.feature_all
      .feature-header
        h1 FEATURES
      .feature-container
        .feature-box
          .feature_img
            img(src='/images/feature1.png', alt='Visitor Code Generation')
          h2 Visitor Code Generation
          p CAYZ allows residents to effortlessly generate temporary security codes for their visitors.
        .feature-box
          .feature_img
            img(src='/images/feature2.jpeg', alt='Entry and Exit Verification')
          h2 Entry and Exit Verification
          p By ensuring only authorized visitors gain access, CAYZ enhances the overall security posture of residential communities, minimizing risks and vulnerabilities.
        .feature-box
          .feature_img
            img(src='/images/feature3.png', alt='Access Log Maintenance')
          h2 Access Log Maintenance
          p CAYZ maintains a comprehensive log of all visitor entries and exits, thereby, offering transparency and accountability in access management.

    #interestForm.interestForm
      div
        h3 REGISTER YOUR INTEREST
      form#userInterestForm
        .form-group
          label(for='nameInput') Name:
          input(type='text', id='nameInput', name='name', required)
        .form-group
          label(for='emailInput') Email:
          input(type='email', id='emailInput', name='email', required)
        .form-group
          label(for='addressInput') Address:
          input(type='text', id='addressInput', name='address', required)
        button(type='submit') Submit

    #faqtop.faq
      h1 Have any questions?
      h3 We are ready to assist
      .faq-container
        .faq_img
          img(src='/images/faqimg.png')
        .faq-formcon
          form.faq-form
            .faq-item
              input(type='checkbox', id='faq1', class='faq-toggle')
              label(for='faq1', class='faq-question') How does CAYZ work?
                img.arrow-icon(src='/images/dropdown.png', alt='Down Arrow')
              .faq-answer
                p CAYZ enables residents to generate temporary security codes for their visitors. Security personnel verify these codes at entry and exit points to grant access to authorized visitors.
            .faq-item
              input(type='checkbox', id='faq2', class='faq-toggle')
              label(for='faq2', class='faq-question') What are the main features of CAYZ?
                img.arrow-icon(src='/images/dropdown.png', alt='Down Arrow')
              .faq-answer
                p CAYZ offers functionalities such as visitor code generation, entry and exit verification, and access log maintenance for residents and security personnel to manage visitor access efficiently.
            // Add the remaining FAQ items similarly
            .faq-item
              input(type='checkbox', id='faq3', class='faq-toggle')
              label(for='faq3', class='faq-question') Is CAYZ user-friendly?
                img.arrow-icon(src='/images/dropdown.png', alt='Down Arrow')
              .faq-answer
                p Yes, CAYZ is designed with usability in mind. The user interfaces for residents and security personnel are intuitive and easy to navigate, ensuring a seamless experience for all users.
            // Add the remaining FAQ items similarly
            .faq-item
              input(type='checkbox', id='faq4', class='faq-toggle')
              label(for='faq4', class='faq-question') Is CAYZ secure?
                img.arrow-icon(src='/images/dropdown.png', alt='Down Arrow')
              .faq-answer
                p Absolutely. CAYZ protects user data and prevent unauthorized access, ensuring the highest level of security for residents and their visitors.
            // Add the remaining FAQ items similarly
            .faq-item
              input(type='checkbox', id='faq5', class='faq-toggle')
              label(for='faq5', class='faq-question') Can CAYZ be customized to fit different community needs?
                img.arrow-icon(src='/images/dropdown.png', alt='Down Arrow')
              .faq-answer
                p Yes, CAYZ is designed to be flexible and customizable. It can be tailored to meet the specific access control requirements of different residential communities, ensuring it aligns with their unique needs and preferences.
            // Add the remaining FAQ items similarly
            .faq-item
              input(type='checkbox', id='faq6', class='faq-toggle')
              label(for='faq6', class='faq-question') Is CAYZ scalable for larger communities?
                img.arrow-icon(src='/images/dropdown.png', alt='Down Arrow')
              .faq-answer
                p Yes, CAYZ is designed to be scalable and can accommodate communities of varying sizes. Whether it's a small residential complex or a large gated community, CAYZ can scale to meet the access control needs effectively.
            

    footer.footer
      .footer-container
        .footer-logo
          img(src='/images/whitelogo.png', alt='Logo', class='footer-logo-img')
        .footer-section
          h3.footer-heading Fast navigation
          ul.footer-list
            a(href='#about')
              li About us
            a(href='#faqtop')
              li FAQs
            a(href='#interestForm')
              li Join us
        .footer-section
          h3.footer-heading Follow us
          .social-media-container
            a(href='#')
              img(src='/images/ins.webp', alt='Instagram', class='social-media-icon')
            a(href='#')
              img(src='/images/facebook.webp', alt='Facebook', class='social-media-icon')
            a(href='#')
              img(src='/images/twitter.webp', alt='Twitter', class='social-media-icon')
        .footer-section
          h3.footer-heading Contact us
          p.footer-contact UK
          p.footer-contact Roehampton University, Roehampton Lane, London, SW15 5PH
          p.footer-contact 044 12345678
          p.footer-contact 123456789@gmail.com
      .company
        p © 2024 CAYZ. All rights reserved.
