doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CAYZ
    link(rel="stylesheet", type='text/css', href="/stylesheets/style.css")

  body(style="margin: 0;")
    
    .Top_bar(style="height: 50px; width: 100%; opacity: 0.5; position: fixed; top: 0; left: 0; background-color: white; z-index: 9999; display: flex; align-items: center; justify-content: space-between;")
      .logo(style="margin-right: 10px;")
        img(src="/images/logo.png", style="opacity: 1; width: 35px; height: auto;")
      ul(style="display: flex; list-style: none; padding: 0; margin: 0;")
        li
          a(href="#", style="font-size: 28px;") Home
        li.divider &nbsp;&nbsp;&nbsp;    
        li
          a(href="#", style="font-size: 28px;") About us
        li.divider &nbsp;&nbsp;&nbsp;    
        li
          a(href="#", style="font-size: 28px;") Support
        li.divider &nbsp;&nbsp;&nbsp;    
        li
          a(href="#", style="font-size: 28px;") Join us
        li.divider &nbsp;&nbsp;&nbsp; 
    
    .Opening_picture
      .module(style="position: relative; background-image: url('/images/landing_city.jpg'); background-size: cover; text-align: center; overflow: hidden; padding: 0; margin: 0;")
        img(src="/images/landing_city.jpg", alt="City Image", style="width: 100%; height: auto;")
        .content(style="position: absolute; top: 50%; left: 0; transform: translateY(-50%); text-align: left; padding: 0 20px; display: flex; flex-direction: column; align-items: center;")
          p(style="font-size: 80px; color: white; text-align: center; margin-bottom: 20px; line-height: 1.2;") 
            | Make granting access
            br
            | to guest easier
          a(href="#" style="border-radius: 24px; padding: 10px 20px; background-color: #523CD5; color: white; font-size: 24px; border: none; margin-top: 20px;")
            | Login &nbsp; 
            span &rarr;

    .footer
      p © 2024 Your Company Name. All rights reserved.
